.loginScreen {
  position: relative;
  height: 100%;
  background: url('https://assets.nflxext.com/ffe/siteui/vlv3/23c72870-12c8-4682-9f55-337a083ccfa7/4ddcc88b-a2c2-4b1e-b12b-bc67b26c8680/RU-en-20211129-popsignuptwoweeks-perspective_alpha_website_large.jpg');
  background-size: cover;
  border-bottom: 8px solid #222;
}
.loginScreen__nav {
  background-color: transparent;
  height: 75px;
  position: fixed;
  width: 100%;
  z-index: 4;
  transition: all 0.5s ease-in;
}
.loginScreen__nav--black {
  background-color: black;
}
.loginScreen__logo {
  position: fixed;
  left: 0;
  width: 150px;
  object-fit: contain;
  padding-left: 20px;
  color: white;
}
.loginScreen__button {
  position: fixed;
  right: 20px;
  top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  background-color: #e50914;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.loginScreen__gradient {
  width: 100%;
  z-index: 1;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
}
.loginScreen__body {
  z-index: 1;
  color: white;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  left: 0;
  right: 0;
  top: 25%;
}

.loginScreen__body > h1 {
  font-size: 3.125rem;
  margin-bottom: 20px;
}

.loginScreen__body > h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  font-weight: 400;
}
.loginScreen__body > h3 {
  font-size: 1.3rem;
  font-weight: 400;
}
.loginScreen__input {
  margin: 20px;
}
.loginScreen__input > form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginScreen__input > form > input {
  padding: 10px;
  outline-width: 0;
  height: 50px;
  width: 30%;
  border: none;
  max-width: 600px;
  border-radius: 0;
  -webkit-appearance: none;
}
.loginScreen__getStarted {
  padding: 16px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #e50914;
  border: none;
  font-weight: 600;
  cursor: pointer;
}
