.info__card {
  padding: 70px 45px;
  color: white;
  background-color: black;
  /* color: black;
  background-color: white; */
  width: 100%;
  border-bottom: 8px solid #222;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info__cardContainer {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
}
/* text */
.info__cardText {
  display: flex;
  flex-direction: column;
  width: 58%;
  height: 100%;
  flex: 0 1 auto;
  padding: 0 0 0 3rem;
}
.info__cardText > h1 {
  font-weight: 600;
  font-size: 3rem;
  padding-bottom: 20px;
}
.info__cardText > h2 {
  font-weight: 300;
  font-size: 1.8rem;
}

/* Card 1 */

.info__cardAnimation--tv {
  height: 100%;
  width: 42%;
  position: relative;
  overflow: hidden;
  z-index: 2;
}
/* animation */
.info__cardAnimation--tv > img {
  max-width: 100%;
  height: auto;
  border: 0;
}

.info__video--1 {
  position: absolute;
  /* width: 100%;
  height: 100%;
  max-width: 73%;
  max-height: 55%;
  top: 20%;
  left: 13%; */
  width: 73%;
  height: 77%;
  top: 9%;
  left: 13%;
}
.info__video--1 > video {
  height: 100%;
  width: 100%;
}

/* Card 2 */
.reverse {
  flex-direction: row-reverse;
}

.info__cardAnimation--iphone {
  height: 100%;
  width: 42%;
  position: relative;
  overflow: hidden;
  z-index: 2;
  margin-left: -5%;
}

.info__cardAnimation--iphone > img {
  max-width: 100%;
  height: auto;
  border: 0;
}
.info__animation {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 15%;
  bottom: 8%;
  width: 70%;
  margin: 0 auto;
  align-items: center;
  border: 2px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 2rem 0 #000;
  border-radius: 0.75rem;
  z-index: 3;
  background: #000;
  padding: 0.5rem 0.75rem;
  min-width: 15rem;
}
.info__downloadImg {
  margin: 0 1rem 0 0;
  flex-grow: 0;
  flex-shrink: 0;
}
.info__downloadImg > img {
  height: 4rem;
  max-width: 100%;
}
.info__downloadText {
  color: white;
  margin: 0.3rem 0;
  flex-grow: 1;
  flex-shrink: 1;
}
.info__downloadText--p1 {
  font-size: 1rem;
  font-weight: 600;
  padding-bottom: 0.1rem;
}
.info__downloadText--p2 {
  font-size: 0.9rem;
  color: #0071eb;
  font-weight: normal;
}
.info__downloadGif {
  height: 3rem;
  width: 3rem;
}

/* Card 3 */
.info__cardAnimation--devices {
  height: 100%;
  width: 42%;
  position: relative;
  overflow: hidden;
  z-index: 2;
}
.info__cardAnimation--devices > img {
  max-width: 100%;
  height: auto;
  border: 0;
}

.info__video--2 {
  position: absolute;
  /* width: 100%;
  height: 100%;
  max-width: 67%;
  max-height: 46%;
  top: 10%;
  left: 16%; */
  width: 63%;
  height: 61%;
  top: 3%;
  left: 18%;
  z-index: -1;
}
.info__video--2 > video {
  height: 100%;
  width: 100%;
}

/* Card 4 */
.info__cardAnimation--kids {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-top: 1rem;
  display: flex;
  flex: 0 1 auto;
  align-items: center;
  justify-content: center;
}
.info__cardAnimation--kids > img {
  max-width: 100%;
  height: auto;
  border: 0;
}
/* Card 5 Accordion */
.info__accordion {
  padding: 70px 45px;
  color: white;
  background-color: black;
  /* color: black;
  background-color: white; */
  width: 100%;
  border-bottom: 8px solid #222;
}
.info__accordion > h1 {
  font-size: 2.5rem;
  text-align: center;
  padding-bottom: 2rem;
}

.MuiAccordion-root.accordion {
  background-color: #303030;
  width: 75%;
  color: white;
  padding: 0.3rem 1.8rem 0.3rem 0.7rem;
}
.MuiAccordion-root.MuiAccordion-rounded.accordion {
  margin: 0 auto;
  margin-bottom: 0.5rem;
  border-radius: 0;
}
.MuiTypography-root.accordion__text {
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 1.3;
  padding-right: 1.8rem;
}
.MuiButtonBase-root.MuiAccordionSummary-root.Mui-expanded {
  min-height: 0;
  padding-right: 0;
}
.MuiButtonBase-root.MuiAccordionSummary-root {
  padding-right: 0;
}

.MuiButtonBase-root .MuiAccordionSummary-content.Mui-expanded {
  margin: 12px 0;
}
.MuiButtonBase-root .MuiAccordionSummary-expandIconWrapper.Mui-expanded {
  transform: none;
}
.MuiButtonBase-root .MuiAccordionSummary-expandIconWrapper {
  color: white;
}
/* Mobile view */

@media screen and (max-width: 949px) {
  .info__card {
    padding: 50px 20px;
  }
  .info__cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  /* text */
  .info__cardText {
    width: 100%;
    text-align: center;
    padding: 0;
  }
  .info__cardText > h1 {
    font-weight: 500;
    font-size: 2.1rem;
    padding-bottom: 10px;
  }
  .info__cardText > h2 {
    font-weight: 200;
    font-size: 1.3rem;
    padding-bottom: 20px;
  }
  /* Card 1 */

  .info__cardAnimation--tv {
    width: 70%;
  }

  /* Card 2 */
  .info__cardAnimation--iphone {
    width: 100%;
    max-width: 600px;
  }

  .info__downloadImg > img {
    height: 2.5rem;
    max-width: 100%;
  }
  .info__downloadGif {
    height: 2.5rem;
    width: 2.5rem;
  }
  /* Card 3 */
  .info__cardAnimation--devices {
    width: 70%;
  }
}
