.row {
  margin-left: 20px;
  color: white;
}
.row__posters {
  display: flex;
  overflow-x: scroll;
  /* there is some place to scroll through Y-axis because the poster gets bigger on hover */
  overflow-y: hidden;
  /* to see the scale transform of a poster add some padding */
  padding: 20px;
}

.row__posters::-webkit-scrollbar {
  display: none;
}

.row__poster {
  width: 100%;
  object-fit: contain;
  max-height: 100px;
  margin-right: 10px;
  transition: transform 0.45s;
}

.row__poster:hover {
  transform: scale(1.08);
}

.row__posterLarge {
  max-height: 250px;
}

.row__posterLarge:hover {
  transform: scale(1.09);
}
